---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=notification&From=%2B14049476065&To=%2B14049476065
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3NzE5NTg3ZGQ4NTUzNTExYzk5Y2YxNGQ0OTVkYTM0NTpkOTQxZTRhYjdlYjYxNmI3MzI3NWFmZDBiZDY0OGRlYg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.182'
      Twilio-Request-Id:
      - RQf48611b81c414de19546150853c0028b
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM1535182cd1a24daf9eb0cfc323913e8c", "date_created": "Thu,
        22 Jun 2017 16:32:56 +0000", "date_updated": "Thu, 22 Jun 2017 16:32:56 +0000",
        "date_sent": null, "account_sid": "<TWILIO ACCOUNT SID>", "to": "<TWILIO NUMBER>",
        "from": "<TWILIO NUMBER>", "messaging_service_sid": null, "body": "notification",
        "status": "queued", "num_segments": "1", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO ACCOUNT
        SID>/Messages/SM1535182cd1a24daf9eb0cfc323913e8c.json", "subresource_uris":
        {"media": "/2010-04-01/Accounts/<TWILIO ACCOUNT SID>/Messages/SM1535182cd1a24daf9eb0cfc323913e8c/Media.json"}}'
  recorded_at: Thu, 22 Jun 2017 16:32:56 GMT
recorded_with: VCR 3.0.3
